body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.prelined {
  white-space: pre-line;
}

* {
  transition: background-color 0.1s ease !important;
  transition: color 0.1s ease !important;
}

.black-text {
  color: black !important;
}

.white-text {
  color: white !important;
}

a.black-text:hover {
  color: #1976d2 !important;
}

a.white-text:hover {
  color: #90caf9 !important;
}
